<div class="contacts_modal_wrap" my-modal-position>

  <div class="modal-header">
    <a class="modal-close-link" ng-click="$close()">关闭</a>
    <h4 class="modal-title">编辑群主题</h4>
  </div>

  <div class="modal-body">

    <form ng-submit="updateGroup()">

      <div class="contacts_modal_group_title">
        <input class="form-control" my-focused type="text" placeholder="Group name" ng-model="group.name"/>
      </div>

      <div class="contacts_modal_panel clearfix">

        <div class="contacts_modal_actions pull-right">
          <button class="btn btn-default" ng-click="$dismiss()"> 取消 </button>

          <button class="btn btn-success" type="submit"> 保存 </button>
        </div>

      </div>

    </form>

  </div>

</div>
