<div class="contacts_modal_wrap" my-modal-position>

  <a class="modal-close-button" ng-click="$dismiss()"><i></i></a>

  <div class="modal-body">

    <form class="modal_simple_form" ng-submit="createGroup()">

      <h4>建立群</h4>

      <div class="form-group">
        <input class="form-control input-sm" my-focused type="text" placeholder="群名称" ng-model="group.name"/>
      </div>

    </form>

  </div>

  <div class="modal-footer">
    <a class="btn btn-link" ng-click="$dismiss()">取消</a>
    <button class="btn btn-primary" ng-class="{disabled: group.creating}" ng-click="createGroup()" ng-bind="group.creating ? '正在建立…' : '建立群'" ng-disabled="group.creating"></button>
  </div>

</div>
