<div ng-include="'partials/head.html'"></div>


<div class="login_form_wrap" my-vertical-position="0.4">
  <div class="error" ng-if="error.message">{{ error.message }}</div>
  <form name="mySendCodeForm" ng-if="!credentials.phone_code_hash" ng-submit="sendCode()">
    <h3 class="login_form_head">登入</h3>
    <p class="login_form_lead">请输入带有国家编号的完整电话号码</p>

    <div class="form-group" ng-class="{'has-error': error.field == 'phone'}">
      <label class="control-label" for="phone_number" ng-if="error.field == 'phone'">很抱歉，您输入的手机号码格式有误，请检查。</label>
      <input type="tel" class="form-control" my-focused name="phone_number" ng-model="credentials.phone_number" placeholder="请输入您的电话号码" required>
    </div>
    <button class="btn btn-success btn-block" ng-class="{disabled: progress.enabled}" ng-disabled="progress.enabled" type="submit">
			{{progress.enabled ? '正在生成密钥……' : '下一步'}}
    </button>
  </form>

  <form name="myLoginForm" ng-if="credentials.phone_code_hash" ng-submit="logIn()">
    <h3 class="login_form_head">{{ credentials.phone_number | phoneNumber }} <small>(<a ng-click="credentials.phone_code_hash = ''">编辑号码</a>)</small></h3>
    <p class="login_form_lead">已经向您的手机发送了一条包含认证码的短信。<br/>请输入在下方。</p>

    <p class="login_form_lead">
      <span ng-show="callPending.remaining > 0">如果在 {{callPending.remaining | duration}} 之后仍未收到短信，Telegram 将会打电话联系您。</span>
      <span ng-show="!callPending.remaining &amp;&amp; !callPending.success">Telegram 正在拨打您的电话。</span>
      <span ng-show="!callPending.remaining &amp;&amp; callPending.success">Telegram 已经拨通了您的电话号码。</span>
    </p>

    <div class="form-group" ng-class="{'has-error': error.field == 'phone_code'}">
      <label class="control-label" for="phone_code" ng-if="error.field == 'phone_code'">很抱歉，您输入的短信验证码有误，请检查。</label>
      <input type="number" my-focused maxlength="5" class="form-control" name="phone_code" ng-model="credentials.phone_code" placeholder="请输入验证码" required>
    </div>

    <button class="btn btn-success btn-block" type="submit" ng-class="{disabled: progress.enabled}" ng-disabled="progress.enabled">
			{{progress.enabled ? '正在检查验证码……' : '登入'}}
    </button>
  </form>
</div>
